{
    "extends": "eslint:recommended",
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": [1, "single"],
        "no-underscore-dangle": 0,
        "new-cap": 0
    }
}
